<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://github.com/ShanmukhaSatvik" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://mail.google.com/mail/?view=cm&fs=1&to=satvikshanmukha27@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
            <a href="https://www.linkedin.com/in/satvikshanmukha/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>