body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-link{
  margin-left: 1.5rem;
}
.socials a,.links a{
  text-decoration: none ;
  color: rgb(100, 100, 100);
}
.socials{
  width: 100%;
}
.socials i{
  font-size: 1.4rem;
  margin-right: 1rem;
}
.top-links a{
  text-decoration: none ;
  color: rgb(110, 110, 110);
  display: block;
  line-height: 0.5;
  font-weight: 600;
}
.top-links a:hover{
  color: #387ED1;
}
.support-links a{
  text-decoration: none ;
  display: block;
  line-height: 1;
}
.anchor-links a {
    display: block;
    margin-left: 1.5rem;
}
#supportHero{
  background-color: #387ED1;
  color: white;
  height: 70vh;
}
#supportHero a{
  color: white;
  font-size: 1.125rem;
}
#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 4.5rem;
}
.supportLeft{
  margin-left: 7.5rem;
}
#supportHero input{
  padding: 0.9375rem 3.125rem;
  border: none;
  width: 100%;
}
#supportHero input:focus {
  outline: none;
  border: none;  
}
.Inv-Opt {
  display: flex;
  align-items: center; 
  gap: 2rem;
}
.Inv-Opt img {
  margin-left: 4rem; 
  width: 144px; 
  height: auto;
}
.Inv-Opt-text h3, .IPO-text p {
  margin: 0;
}
.MFO {
  display: flex;
  align-items: center; 
  gap: 0.3rem;
}
.MFO img {
  margin-left: 4rem; 
  width: 144px; 
  height: auto;
}
.MFO-text h3, .IPO-text p {
  margin: 0;
}
